.appShell {
  min-height: 100vh;
  display: flex;
  flex-direction: row; /* Sidebar on the left */
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 100%; /* Occupy remaining space */
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 820px) {
  .appShell {
    flex-direction: column;
    padding-bottom: 4rem; /* Space for bottom navigation */
  }
}
